<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <div class="user">
      <img src="../../../assets/img/user.png" />
    </div>
    <div class="info">
      <h4 class="name">{{ firstName }} {{ lastName }}</h4>
      <p class="email">{{ userName }}</p>
    </div>
  </div>
  <div class="actions">
    <button
      class="button"
      [ngClass]="{ active: activeButton === 'activeProjects' }"
      (click)="showActiveProjects()"
    >
      My active projects
    </button>
    <button
      class="button"
      [ngClass]="{ active: activeButton === 'archiveProjects' }"
      (click)="showArchiveProjects()"
    >
      My archive
    </button>
  </div>
  <app-project-card
    *ngIf="showProfileProjects && showActive"
    [isProfilePage]="true"
    [isActive]="true"
  ></app-project-card>
  <app-project-card
    *ngIf="showProfileProjects && showArchive"
    [isProfilePage]="true"
    [isArchive]="true"
  ></app-project-card>
</div>
<footer><app-footer></app-footer></footer>
