<nav
  class="navbar navbar-expand-lg navbar-sm"
  [ngClass]="{
    'navbar-transparent':
      !isScrolled &&
      (currentRoute === '/' ||
        currentRoute === '/profile' ||
        currentRoute === '/archive' ||
        currentRoute === '/account'),
    'navbar-colored':
      (isScrolled && currentRoute === '/') || currentRoute !== '/'
  }"
>
  <div class="container align-items-center">
    <a class="navbar-brand" routerLink="/" href="">CareShare</a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="sidebarToggle()"
    ></button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a
            routerLink="/"
            class="nav-link"
            rel="tooltip"
            title="Home"
            data-placement="bottom"
            href=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/archive"
            class="nav-link"
            rel="tooltip"
            title="Profile"
            data-placement="bottom"
            href=""
            >Archive</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/gallery"
            class="nav-link"
            rel="tooltip"
            title="Gallery"
            data-placement="bottom"
            href=""
            >Gallery</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && !hasAdminRole">
          <a
            routerLink="/profile"
            class="nav-link"
            rel="tooltip"
            title="Profile"
            data-placement="bottom"
            href=""
            >Profile</a
          >
        </li>
        <li class="nav-item mt-4" *ngIf="!isLoggedIn">
          <button
            type="button"
            class="btn btn-success btn-round mb-4"
            (click)="redirectToLoginPage()"
          >
            Log in
          </button>
        </li>
        <li class="nav-item mt-4" *ngIf="isLoggedIn">
          <button
            type="button"
            class="btn btn-danger btn-round mb-4"
            (click)="logout()"
          >
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
