<div class="wrapper">
  <div
    class="page-header section-dark d-flex flex-column justify-content-center align-items-center"
  >
    <div class="container text-center">
      <div class="title-brand">
        <h1 class="presentation-title">CareShare</h1>
      </div>
      <h2 class="presentation-subtitle mt-5">
        Application for monitoring volunteer events
      </h2>
    </div>
  </div>
  <div
    class="moving-clouds"
    style="background-image: url('assets/img/clouds.png')"
  ></div>
</div>
