<div class="projects">
  <div
    *ngFor="let project of pageSlice"
    class="project"
    (click)="handleProjectClick(project)"
  >
    <img src="../../../assets/img/project.jpg" />
    <h3>{{ project.title }}</h3>
    <p>Location: {{ project.location }}</p>
    <p>
      Duration: {{ project.startDate | date : "yyyy-MM-dd" }} -
      {{ project.endDate | date : "yyyy-MM-dd" }}
    </p>
    <p>
      Volunteers needed: <span>{{ project.volunteers }}</span>
    </p>
    <div class="actions">
      <div class="edit" *ngIf="isLoggedIn">
        <button
          type="button"
          class="btn btn-success btn-round mb-4"
          (click)="stopPropagation($event); update(project)"
        >
          Edit
        </button>
      </div>
      <div class="delete" *ngIf="isLoggedIn">
        <button
          type="button"
          class="btn btn-danger btn-round mb-4"
          (click)="stopPropagation($event); deleteProject(project.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  [length]="projects.length"
  [pageSize]="6"
  [pageSizeOptions]="[6, 12, 24]"
  (page)="onPageChange($event)"
></mat-paginator>
